<div class="fly-panel layui-hide-xs">
    <div class="layui-row fly-panel-main" style="padding: 15px;">
        <div class="layui-carousel fly-topline" id="FLY_topline" lay-anim="fade" lay-indicator="inside"
             lay-arrow="hover" style="width: 100%; height: 166px;">
            <div carousel-item="">
                <div time-limit="2020-08-10 0:0:0" class=""><a href="http://www.yixiekeji.com/" target="_blank"
                                                               id="fly-spm-event-banner-2" rel="nofollow"> <img
                        src="//cdn.layui.com/upload/2019_6/168_1561705041953_38174.jpg" alt="yixiekeji"> </a></div>
                <div time-limit="2020-05-15 0:0:0" class="layui-this"><a href="https://www.yinmaisoft.com/?from=layui"
                                                                         target="_blank" id="fly-spm-event-banner-3"
                                                                         rel="nofollow"> <img
                        src="//cdn.layui.com/upload/2020_4/168_1586762665674_22007.png" alt="yinmaisoft"> </a></div>
            </div>
            <div class="layui-carousel-ind">
                <ul>
                    <li class=""></li>
                    <li class="layui-this"></li>
                </ul>
            </div>
            <button class="layui-icon layui-carousel-arrow" lay-type="sub"></button>
            <button class="layui-icon layui-carousel-arrow" lay-type="add"></button>
        </div>
    </div>
</div>